<div class="wrapper">
    <div class="navbar">
        <ul>
            <li class="highlight">
                <p>Kirjautuneena: {{ username }}</p>
            </li>
            <li><a href="#">Kirjaudu ulos</a></li>
            <li><a href="#">Muuta tietoja</a></li>
        </ul>
    </div>
    <header class="header">
        <h1 id="otsikko">{{ title }}</h1>
    </header>
    <div id="omatvaraukset">
        <div>
            <h3>Omat varaukset ja lainaukset</h3>
            ajalta: <input type="date"> - <input type="date"> <button class="button-green">Näytä</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nimi</th>
                    <th>Merkki</th>
                    <th>Malli</th>
                    <th>Sijainti</th>
                    <th>Omistaja</th>
                    <th>Kategoria</th>
                    <th>Sarjanumero</th>
                    <th>Alkupäivämäärä</th>
                    <th>Loppupäivämäärä</th>
                    <th>Status</th>
                    <th>Toiminto</th>
                    <th>Toiminto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tulostin</td>
                    <td>Canon</td>
                    <td>Pixma TS8151</td>
                    <td>Kuninkaankatu 5 A 10, Kuopio</td>
                    <td>Matti mallikas</td>
                    <td>Oheislaitteet</td>
                    <td>59348285</td>
                    <td>10.10.2018</td>
                    <td>01.11.2018</td>
                    <td>Palautettu</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Tulostin</td>
                    <td>Canon</td>
                    <td>Pixma TS8151</td>
                    <td>Kuninkaankatu 5 A 10, Kuopio</td>
                    <td>Matti mallikas</td>
                    <td>Oheislaitteet</td>
                    <td>59348285</td>
                    <td>10.10.2018</td>
                    <td>01.11.2018</td>
                    <td>Palautettu</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Tulostin</td>
                    <td>Canon</td>
                    <td>Pixma TS8151</td>
                    <td>Kuninkaankatu 5 A 10, Kuopio</td>
                    <td>Matti mallikas</td>
                    <td>Oheislaitteet</td>
                    <td>59348285</td>
                    <td>10.10.2018</td>
                    <td>01.11.2018</td>
                    <td>Palautettu</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Tulostin</td>
                    <td>Canon</td>
                    <td>Pixma TS8151</td>
                    <td>Kuninkaankatu 5 A 10, Kuopio</td>
                    <td>Matti mallikas</td>
                    <td>Oheislaitteet</td>
                    <td>59348285</td>
                    <td>10.10.2018</td>
                    <td>01.11.2018</td>
                    <td>Palautettu</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <button id="varaa" class="button-green">Varaa</button>
    </div>
    <div id="varaaLaite">
        <div id="hakuehdot">
            <label for="NIMI">Nimi: </label>
            <input type="text" name="NIMI"> 
            <input type="text" name="MERKKI"> 
            <input type="text" name="MALLI">
            <input type="text" name="SIJAINTI">
            <input type="text" name="OMISTAJA">
            <select name="NIMI"></select>
            <input type="text" name="SARJANUMERO">
            <button class="button-green">Hae</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nimi</th>
                    <th>Merkki</th>
                    <th>Malli</th>
                    <th>Sijainti</th>
                    <th>Omistaja</th>
                    <th>Kategoria</th>
                    <th>Sarjanumero</th>
                    <th>Toiminto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tulostin</td>
                    <td>Canon</td>
                    <td>Pixma TS8151</td>
                    <td>Kuninkaankatu 5 A 10, Kuopio</td>
                    <td>Matti mallikas</td>
                    <td>Oheislaitteet</td>
                    <td>59348285</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>